<!DOCTYPE html>
<html>
    <head>
        <title>Desserts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class='topBar'>
            <div>
                <a href="home.html">Home</a>
                <a href="entrees.html">Entrees</a>
                <a class="current" href="drinksdesserts.html">Cocktails and Desserts</a>
                <a href="reviews.html">Reviews</a>
            </div>
            
        </div>
        
        
        <div id='listWrap'>
            <span><h1>INDULGE</h1></span>
            <ul>
                
                <li>
                    <figure>
                        <img class='pic' src="bunana.jpg">
                        <figcaption>Craving something sweet but still healt conscious? 
                            Eat this bun-ana!
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure>
                        <img class='pic' src="PatissierPooPastries.jpg">
                        <figcaption>Tastes a lot better than what it looks like we swear!</figcaption>
                    </figure>
                </li>

                <li>
                    <figure>
                        <img class='pic' src="fruitpie.jpg">
                        <figcaption>Dessert Pizza! We told the Kellogs patent attourney to bite us!</figcaption>
                    </figure>
                </li>

                <li>
                    <figure>
                        <img class='pic' src="hotdogdrink.jpg">
                        <figcaption>Tangy, smoky, creamy, and ultimately refreshing.
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure>
                        <img class='pic' src="coke.jpg">
                        <figcaption>Real premium jet fuel in this drink! Don't ask us where we get it :)
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure>
                        <img class='pic' src="Lester-Fixins-Bacon-Soda.png">
                        <figcaption>Sodas you won't find anywhere else! What kind of booze you want in it is your choice!
                        </figcaption>
                    </figure>
                </li>




            </ul>
        </div>
    </body>